
.contadorWrapper {
    // padding: 10px;

    .contador{
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        margin-bottom: 10px;
        align-items: center;


        p {
            font-size: 15px;
            margin: 0;
        }

        .botones {
            display: flex;
            justify-content: center;

            .boton {
                width: 30px;
                height: 30px;
                margin: 2px;
                &:focus {
                    outline: none;
                }
            }
        }
    }

    .alCarrito {
        width: 100%;
        padding: 3px;
        font-size: 15px;

        &:focus {
            outline: none;
        }
    }
}

.desactivado {
    background-color: #424242;
}
