
@import '../../../variables.scss';


.home {
  overflow: hidden;
}

.productContainer {

    .productList {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      list-style-type: none;
      margin: 0;


      .producto {
        margin: .5rem;
        max-width: 20rem;
        position: relative;

        align-items: center;
        object-fit: cover;
        text-align: center;
        transition: 0.4s ease-out;



        .productoImg {
          max-width: 100%;
          transition: 0.4s ease-out;
          border-radius: 15px;
          box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

          }

          .productoName {
            font-size: 1.8rem;
            position: absolute;
            opacity: 0;
            transform: translateY(120px);
            text-align: center;
            transition: 0.4s ease-out;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, .7);
            color: white;
            letter-spacing: .1rem;

          }

          &:hover {

            cursor: pointer;

            .productoImg {
              filter: grayscale(.5);
            }

            .productoName {
                transform: translateY(100px);
                opacity: 1;
            }

          }



        }
    }
}