// Colores

$celeste : #b1d2e3;
$rosa : #f7adc6;
$dark : #2919ff;

// Keyframes

@keyframes aparecer {
    from {opacity: 0;};
    to {opacity: 1;}
}

// Tipografía

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;800&display=swap');

