@import '../../../variables.scss';

.navbar {

    .menu {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;

        .navbarItem {
            margin: 5px;
            padding: 5px;

            a {
                text-decoration: none;

                &:hover {
                    color: $rosa;
                    cursor: pointer;
                }
            }

        }
    }
}