@import '../../../variables.scss';

.orderContainer {
    padding: 1rem;
    .orderData {
        display: flex;
        flex-direction: column;
        text-align: left;
        span {
            font-weight: 700;
        }
    }
    .pagoWrapper {
        text-align: center;
        margin-top: 20px;
        .botonPago {
            padding: 15px;
            background-color: $celeste;
            font-weight: 600;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

            &:hover {
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.24), 0 2px 4px rgba(0, 0, 0, 0.48);
            }
            &:focus {
                outline: none;
            }
        }
    }
}